{% extends 'blogapp/base_container.html' %}
{% block content %}

<main>  
  <header class="p-3 border-bottom mb-5">
    <span href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <i class="fa-solid fa-user fa-2xl"></i>
      <span class="fs-4 ms-3 fw-bold">Konto użytkownika "{{user.bloguser.name}}"</span>
    </span>
  </header>  

  <div class="row justify-content-center">        
    <div class="col-md-3">
      <div class="card border border-2 border-dark">
        <img class="user-select-none" src='{{request.user.bloguser.profile_picture.url}}' class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom pb-3">{{request.user.bloguser.name}}</h3>
          <p class="text-center text-muted">{{request.user.bloguser.permission_group}}</p>
          <p class="fs-6 fst-italic card-text">{{request.user.bloguser.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light border border-2 border-dark">  
      <p class="">Nazwa: {{user.bloguser.name}}</p>
      <p class="">Imię: {{user.bloguser.first_name}}</p>
      <p class="">Liczba dodanych tematów: {{topics_amount}}</p>
      <p class="">Liczba komentarzy: {{comments_amount}}</p>
      <p class="">Dołączył: {{user.date_joined}}</p>
        {% if user.is_active %}
        <p class="">Stan konta: Aktywne</p>
        {% else %}
        <p class="">Stan konta: Zamorożone</p>
        {% endif %}      
      <p class=""><small class="text-muted">Ostatnio aktywny:</small></p>
    </div>        
  </div>

</main>


{% endblock content %}