p
{    
    font-size: 16px;
}

p.article
{
    text-align: justify;
    text-indent: 30px;
}

.header
{
    height: 400px;
    color:white;
    position: relative;
}

.header_image
{
    max-width:100%;
    max-height:100%
}

.navbar_color
{
    background-color: transparent;
}

.my_user_image
{   
    width:90px;
    height: 100%;
    border-radius: 10px;

}

.user_comment_field
{
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 15px;
}

.description_field
{
    border-bottom: 1px solid grey;
    
}

.logo
{
    max-height:50px;
    width: auto;
}

.navbar_font
{
    font-size: 20px;
    color: grey;
}


/* About */

#cont
{
    background-color: black;
    position:relative;
    overflow: hidden;
}
#first
{
    width:100px;
    height:100px;
    background-color: blue;
    float:left;
}

#second
{
    width:200px;
    height:200px;
    background-color: blueviolet;
    overflow: hidden;
}

/* Galerry */

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {-webkit-filter: brightness(80%);}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-height: auto;
    max-width: 70%;
  }
  
  /* Caption of Modal Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }