p
{
    text-align: justify;
    font-size: 16px;
    text-indent: 30px;
}

.header
{
    background-image: url("../images/mountains-panoramic-1386775.jpg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    min-height: 350px;
    color:aliceblue;
    max-width: 50%;
}

.navbar_color
{
    background-color: transparent;
}

.my_user_image
{   
    width:90px;
    height: 100%;
    border-radius: 10px;

}

.user_comment_field
{
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 15px;
}

.description_field
{
    border-bottom: 1px solid grey;
    
}

.logo
{
    max-height:50px;
    width: auto;
}

.navbar_font
{
    font-size: 20px;
    color: grey;
}

.gallery_image
{
    max-width: 20%;
    height:auto;
}


#cont
{
    background-color: black;
    position:relative;
    overflow: hidden;
}
#first
{
    width:100px;
    height:100px;
    background-color: blue;
    float:left;
}

#second
{
    width:200px;
    height:200px;
    background-color: blueviolet;
    overflow: hidden;
}


 