{% extends 'blogapp/base_container.html' %}
{% block content %}


<header class="p-3 border-bottom mb-5">
  <span href="/" class="d-flex align-items-center  text-dark text-decoration-none">
    <i class="fa-solid fa-circle-info fa-2xl"></i>
    <span class="fs-4 ms-3 fw-bold">O stronie</span>
  </span>
</header>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">TWÓRZ</h1>
    <p class="col-md-8 fs-4">Geostrat.pl jest serwisem o charakterze <b>popularno &ndash; naukowym</b>, umożliwiającym przede wszystkim publikację i edycję treści. Portal udostępnia możliwośc komentowania i dyskusji</p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
  </div>
</div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 d-flex flex-column" style="text-align:right;">
      <h1 class="display-5 fw-bold">KOMENTUJ</h1>
      <p class="col-md-8 fs-4 align-self-end">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    </div>
  </div>
 

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">ROLA SERWISU</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 d-flex flex-column" style="text-align:right;">
      <h1 class="display-5 fw-bold">AUTOR</h1>
      <p class="col-md-8 fs-4 align-self-end">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
 

{% endblock content %}