{% load static %}

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <title>Geoblog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar_color navbar-primary navbar_font bg-dark bg-gradient text-light user-select-none">
      
      <a class="navbar-brand text-uppercase ms-3" href="{% url 'blogapp:home' %}"><img class="img-fluid logo" src="{% static 'images/_defaults/logo.png' %}" alt="LOGO"></a> 

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu"
      aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon" ></span>
      </button>

      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav me-auto">
          <li><hr class="dropdown-divider"></li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'blogapp:gallery' %}">Galeria</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'blogapp:about' %}">O stronie</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'api:api' %}">API</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'blogapp:terms' %}">Regulamin</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'blogapp:contact' %}">Kontakt</a>
          </li>
          <li><hr class="dropdown-divider"></li>
        </ul>

        <form class="d-flex me-3" action="{% url 'blogapp:search_topic' %}" method = 'post'>
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="searched" placeholder="szukaj" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Szukaj</button>
        </form>

        

        <ul class="navbar-nav me-3">
          {% if user.is_authenticated %}
          <li class="nav-item mt-2 me-2">
            Witaj,<a class="text-decoration-none link-light" href="{% url 'users:user_account' %}"> {{user.username}}</a>.
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'users:logged_out' %}">Wyloguj się</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'users:login' %}">Zaloguj się</a>
          </li>
          <li class="nav-item">
            <a class ="nav-link link-light" href="{% url 'users:register' %}">Zarejestruj się</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% if request.user.is_authenticated %}
    <div class="container nav-scroller mb-2 link-dark">
      <nav class="nav d-flex justify-content-evenly link-dark">
        <a class="p-2 link-dark" href="{% url 'blogapp:pending_topics' %}">Oczekujące tematy</a>
        <a class="p-2 link-dark" href="{% url 'blogapp:my_topics' %}">Moje tematy</a>
        {% if perms.blogapp.add_topic %}
        <a class="p-2 link-dark" href="{% url 'blogapp:new_topic' %}">Dodaj temat</a>
        {% endif %}        
        <a class="p-2 link-dark" href="{% url 'blogapp:terms' %}">Regulamin</a>
        <a class="p-2 link-dark" href="{% url 'users:user_account' %}">Konto Użytkownika</a>   
      </nav>
    </div>
    {% endif %}
    
      
      {% block base %}{% endblock base %}
      
      <footer class="footer bg-dark bg-gradient py-2">  
        <div class="row justify-content-evenly mx-0 text-light">
          <!-- <div class="col-md-3 justify-content-start ">
              Nav
          </div> -->
          <!-- <div class="col-md-9 order-md-first d-flex justify-content-center user-select-none">                                                    
            <div class="tile author " data-bs-toggle="tooltip" title="Strona www">                                
              <a class="link" href="#"><i class=" icon-id-card-o"></i></a>
            </div>                            
            <div class="tile email" data-bs-toggle="tooltip" title="Email">
              <a href="#"><i class="icon-mail"></i></a>
            </div>
            <div class="tile fb" data-bs-toggle="tooltip" title="Facebook">
              <a href="#"><i class="icon-facebook-squared"></i></a>
            </div>
            <div class="tile in" data-bs-toggle="tooltip" title="LinkedIn">
              <a href="#"><i class="icon-linkedin"></i></a>
            </div>
            <div class="tile github" data-bs-toggle="tooltip" title="GitHub">
              <a href="#"><i class="icon-github-circled fs-1"></i></a>
            </div>
              
          </div>                 -->
          <div class="col-12 text-center text-light">
          <p> © Copyright 2022. Strona została wykonana w celach prezentacyjnych. Treść pochodzi z portralu <a href="https://pl.wikipedia.org/">Wikipedia</a>
          i innych źródeł licencji Creative Commons. </p>
          </div>
        </div>
        
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body> 
</html>