{% load bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Geoblog</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md bg-lightblue navbar-light">
                <a class="navbar-brand" href="{% url 'blogapp:index' %}">Geoblog</a> 

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon" ></span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'blogapp:index' %}">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'blogapp:about' %}">O stronie</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            Witaj, {{user.username}}.
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Wyloguj</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'users:login' %}">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'users:register' %}">Zarejestruj się</a>
                        </li>
                        {% endif %}    
                    </ul>
                    
                    

                </div>

            </nav>   
        </header>
        <main>                
            <div class="container">
               {% block content %}{% endblock content %}           
                
            </div>
        </main>
    </body> 
</html>