{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">
  <!-- BAR SECTION -->
  <p class="p-1 fs-5 text-end">
    {% if perms.blogapp.add_topic %}
        <a href="{% url 'blogapp:new_topic' %}">Add topic</a>
    {% endif %}
  </p>
  <!-- HEADER ARTICLE -->
  <header class="">    
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="row">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">{{last_topic.title}}</h1>
          <p class="lead my-3">{{last_topic.description}}</p>
          <p class="lead mb-0"><a class="text-decoration-none" href="{% url 'blogapp:topic' last_topic.id %}" class="text-white fw-bold">Czytaj dalej...</a></p>
        </div>
        <div class="col-md-6 p-0">
          <img class="img-fluid" src="{{last_topic.header_image.url}}">
        </div>
      </div>    
    </div>      
  </header>
</div>
<!-- REST ARTICLEs -->
<div class="container-fluid bg-light">
  <div class="container my-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for topic in topics %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" src="{{ topic.header_image.url }}">
            <div class="card-body">
              <h3 class="text-center"><a class="text-decoration-none text-dark" href="{% url 'blogapp:topic' topic.id %}" class="link-dark">{{topic.title}}</a></h3>
              <p class="card-text">{{topic.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a class="" href="{% url 'blogapp:topic' topic.id %}">Czytaj dalej...</a>
                </div>
                <small class="text-muted">{{topic.date_created|date:"d-m-y"}}; {{topic.date_created|time:"H:i"}}</small>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <li>
          No topics found
        </li>
      {% endfor %}
    </div>
  </div>
    <!--PAGGINATION  -->
  <nav aria-label="...">
    <ul class="pagination pagination-lg justify-content-center user-select-none">
      {% if page.nr > 0 %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.prev_nr %}" tabindex="-1" aria-disabled="true">Poprzednia</a>
      </li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="{% url 'blogapp:index' page.nr %}">{{page.nr}}</a>
      </li>
      {% if page.nr < page.last_nr %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.next_nr %}">Następna</a>
      </li>
    </ul>
  </nav>
</div>  
{% endblock content %}

