{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}
  <header class="text-center">
    <h1>Blogapp index - Strona główna</h1>
    <h2> Lista artykułów</h2>
  </header>
  <p class="p-1 fs-5 text-end">
    {% if perms.blogapp.add_topic %}
        <a href="{% url 'blogapp:new_topic' %}">Add topic</a>
    {% endif %}
  </p>

  <ul class="list-unstyled">
    {% for topic in topics %}
      <li class="mb-md-4">
        <div class="row g-0 bg-dark text-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
              <img class="img-fluid" src="{{ topic.header_image.url }}">
          </div>
          <div class="col-md-6 p-4 ps-md-0" class="col-2 text-truncate">
            <h2 class="mt-0 text-center text-capitalize" >{{topic.title}}</h2>
            <h5 class="text-center">{{topic.description}}</h5>
            <p>{{topic}}</p>
            <a href="{% url 'blogapp:topic' topic.id %}" class="stretched-link link-light"><p class="text-end">Czytaj dalej</p></a>
          </div>
        </div>
      </li>
    {% empty %}
      <li>
        No topics found
      </li>
    {% endfor %}
  </ul>
  
  <nav aria-label="...">
    <ul class="pagination pagination-lg justify-content-center user-select-none">
      {% if page.nr > 0 %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.prev_nr %}" tabindex="-1" aria-disabled="true">Poprzednia</a>
      </li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="{% url 'blogapp:index' page.nr %}">{{page.nr}}</a>
      </li>
      {% if page.nr < page.last_nr %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.next_nr %}">Następna</a>
      </li>
    </ul>
  </nav>
  
{% endblock content %}

