{% extends 'blogapp/base_nocontainer.html' %}
{% block base %}

<div class="container mt-3">
  
  <header class="p-3 border-bottom">
    <span href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <i class="fa-solid fa-house fa-2x"></i>
      <span class="fs-4 ms-3 fw-bold ">Strona główna &mdash; ostatnie artykuły</span>
    </span>
  </header>

  <!-- HEADER ARTICLE -->  
  {% if not page.nr and last_topic %}
  <header class="">
    <div class="text-dark rounded bg-dark my-3">
        <div class="row">
        <div class="col-lg-6 p-4 order-last order-lg-first">
          <a class="text-decoration-none ff-rd link-light" href="{% url 'blogapp:topic' last_topic.id %}"><h1 class="display-4">{{last_topic.title}}</h1></a></p>          
          <p class="lead my-3 text-light fst-italic" style="text-align:justify;">{{last_topic.description}}</p>
          <p class="mb-0"><a class="text-decoration-none fs-4" href="{% url 'blogapp:topic' last_topic.id %}" >Czytaj dalej...</a></p>
        </div>
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid p-1" style="border-radius: 30px 0px 0px 30px;" src="{{last_topic.header_image.url}}">
        </div>
      </div>    
    </div>      
  </header>
  {% endif %}
</div>
<!-- REST ARTICLEs -->
<div class="container-fluid bg-light">
  <div class="container my-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for topic in topics %}
        <div class="col">
          <div class="card shadow-sm divIndex">
            <img class="img-fluid indexThumbnail" src="{{ topic.header_image.url }}">
            <div class="card-body" style="min-height:270px;">
              <h3 class="text-center fw-bold"><a class="text-decoration-none link-dark" href="{% url 'blogapp:topic' topic.id %}">{{topic.title}}</a></h3>
              <p class="card-text">{{topic.short_description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="">
                  <a class="link-secondary fw-bold" href="{% url 'blogapp:topic' topic.id %}">Czytaj dalej...</a>
                </div>
                <small class="text-muted">{{topic.date_created|date:"d-m-y"}}; {{topic.date_created|time:"H:i"}}</small>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <li>
          No topics found
        </li>
      {% endfor %}
    </div>
  </div>
    <!--PAGGINATION  -->
  <nav class="p-md-4 p-2" aria-label="...">
    <ul class="pagination pagination-lg justify-content-center user-select-none">
      {% if page.nr > 0 %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.prev_nr %}" tabindex="-1" aria-disabled="true">Poprzednia</a>
      </li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="{% url 'blogapp:index' page.nr %}">{{page.nr}}</a>
      </li>
      {% if page.nr < page.last_nr %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">
      {% endif %}
        <a class="page-link" href="{% url 'blogapp:index' page.next_nr %}">Następna</a>
      </li>
    </ul>
  </nav>
</div>  
{% endblock base %}

