{% extends 'blogapp/base.html' %}
{% block content %}

<h2>{{topic.title}}</h2>

<p>{{topic.text}}</p>

<p>{{last_change_date_str}}</p>

<a href="{% url 'blogapp:edit_topic' topic.id %}">Edytuj temat</a>
<a href="{% url 'blogapp:delete_topic' topic.id %}">Usuń temat</a>

<h4>Komentarze</h4>
<ul>
    {% for comment in comments %}
      <li>
        {{ comment.text }} 
        <br>
        Dodano: {{comment.date_created}}
      </li>
      <br>
    {% empty %}
      <li>No comments found</li>
    {% endfor %}
  </ul>

  <!-- Add comment -->
  <br>
  <form action="{% url 'blogapp:topic' topic.id %}" method = 'post'>
    {% csrf_token %}{{form.as_p}}
    <button name = 'submit'>Dodaj komentarz</button>
  </form>


  {% endblock content %}